

.form-container {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: 5% 5% 0 5%;
    grid-column-gap: 5%;
    font-family: 'Helvetica';
}

.customer-input {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0;
    margin: 0;
    margin-top: 6.75%;
    height: 5em;
    position: relative;
    /* background-color: chartreuse; */
}


.first-name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    margin-bottom: 0;
    /* background-color: crimson; */
}

.last-name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 7;
    grid-column-end: -1;
}

.phone-number {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 9;
}

.email {
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: -1;
}

.text-input {
    display: block;
    width: 100%;
    padding: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    grid-row-start: 2;
    grid-row-end: -1;
    background: rgba(179,179,179,0.25);
    font-size: 1.5em;
    margin: 0;
    border: none;
}


.form-label {
    font-size: 1.25em;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}

.address-input {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0;
    margin: 0;
    margin-top: 6.75%;
    height: 5em;
    position: relative;
    background-color: cyan;
    border: solid;
}