body {
    padding: 0;
    margin: 0;
}

.products-container {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    padding: .85rem;
}

.menu-head {
    font-size: 2.5em;
    padding: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    
    
}