.super {
    border-bottom: solid;
    border-width: thin;
    border-color: #b3b3b3;
    /* background-color: green; */
    padding-bottom: 1rem;
}

.product {
    
    display: flex;
    flex-direction: row;
    
}
.main-col {
    display: flex;
    flex-direction: column;
    width: 400%;
    
}
.product-header {
    font-size: 1.25em;
    
}
.product-desc {
    margin-top: 0;
    font-size: 1.25em;
    color: #B3B3B3; 
    align-content: center;
    flex-basis: 60%;
}

.product-price {
    margin-top: 0;
    font-size: 1.25em;
}

.plc-img {
    position: relative;
    right: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    

}

.desc-container {
    flex-basis: 500%;
    position: relative;
    right: 0;
}
